<div id="GameList">

</div>
<span>test</span>

<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/v-mask.min.js"></script>
<script src="~/Scripts/vee-validate.min.js"></script>
<script src="~/Views/Games/GameList/GameList.js"></script>
@*<script src="~/Abp/Framework/scripts/libs/abp.toastr.js"></script>
<script src="~/Scripts/toastr.min.js"></script>*@
