<!-- Hidden inputs to pass parameters to knockout.js -->
<input type="hidden" id="UserId" name="UserId" value="@ViewBag.UserId" />

<main>
    @Html.Partial("~/Views/Games/GameList/_GameList.cshtml")

    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/v-mask.min.js"></script>
    <script src="~/Scripts/vee-validate.min.js"></script>
</main>

